/* ====================================
	Block elements for easier repurposing
==================================== */


/*
	Cover image, mostly used to let the image
	stretch over the elements height and width
	without relying on the CMS for the image size.
	!important!
	The div must have a specified width or height,
	either by the children stretching it or it having
	specified.

	Usage:
		<div class="cover-image" style="background-image: url(background-image.png)">
			stuff
			<img class="cover-image__image" src="background-image.png"/>
		</div>
	------------------------------------ */

.cover-image {
	background: center center no-repeat;
	background-size: cover;

	.cover-image__image {
		display: none;
	}
}